[class*='jkal-container-'] {
    background-color: #CCC;
    width: 380px;
    height: 125px;
    overflow: hidden;
    color: #666;
    font-family: 'Open Sans', verdana, sans-serif;
    position: absolute;
    z-index: 1000;
    display: none;
    -webkit-text-size-adjust: none;
}

.jkal-year {
    font-size: 24px;
    font-weight: 300;
    color: #FFF;
    position: absolute;
    width: 2000px;
}
    .jkal-year .jkal-single-year {
        padding: 0;
        margin: 0;
        text-align: center;
        width: 95px;
        display: inline-block;
        cursor: pointer;
        background-color: #888;
    }
    .jkal-year .jkal-single-year:hover {
       color: #CCC;
    }
    .jkal-year .jkal-active-year {
        color: #666;
        font-weight: 600;
        text-shadow: 1px 1px 0px #999;
    }
    .jkal-year .jkal-active-year:hover {
        color: #666;
    }
.jkal-month {
    margin-top: 40px;
    position: relative;
    font-size: 13px;
    text-align: center;
}
    .jkal-month .jkal-single-month {
        padding-left: 4px;
        padding-right: 4px;
        padding-top:7px;
        padding-bottom: 5px;
        cursor: pointer;
        color: #FFF;
    }
    .jkal-month .jkal-single-month:hover {
       opacity: 0.5;
    }
    .jkal-month .jkal-active-month {
        color: #666;
        font-weight: 600;
    }
.jkal-day {
    padding-left: 7px;
    margin-top: 5px;
}
    .jkal-day .jkal-single-day {
        font-weight: 300;
        display: inline-block;
        padding: 4px;
        cursor: pointer;
        color: #FFF;
    }
    .jkal-day .jkal-single-day:hover {
       opacity: 0.5;
    }
    .jkal-day .jkal-active-day {
        color: #666;
        font-weight: 600;
    }